<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Octopus Extension for GitHub Copilot Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"
        integrity="sha384-5AkRS45j4ukf+JbWAfHL8P4onPA9p0KwwP7pUdjSQA3ss9edbJUJc/XcYAiheSSz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar mb-4 navbar-dark" style="background-color: #0D80D8;">
        <span class="navbar-brand text-center col-12 h1"><a href="/api/form" style="color: white">Octopus Extension for
                GitHub Copilot</a></span>
    </nav>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="octopus-tab" data-toggle="tab" href="#octopus" role="tab"
                    aria-controls="octopus" aria-selected="true"><img title="Octopus logo" style="height:32px;" src="https://i.octopus.com/icons/octopus-favicon.png" alt="octopus-logo">&nbsp;Octopus</a>
            </li>
            {%- if is_admin_user %}
            <li class="nav-item">
                <a class="nav-link" id="codefresh-tab" data-toggle="tab" href="#codefresh" role="tab"
                    aria-controls="codefresh" aria-selected="false"><img title="Codefresh logo" style="height:32px;" src="https://i.octopus.com/icons/codefresh-favicon.png" alt="codefresh-logo">&nbsp;Codefresh</a>
            </li>
            {% endif -%}
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <div class="mt-5 tab-pane fade show active" id="octopus" role="tabpanel" aria-labelledby="octopus-tab">
                <form id="octopus_form" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <label for="octopus_url" class="col-2 offset-2 col-form-label">Octopus URL</label>
                        <div class="col-6">
                            <input id="octopus_url" name="octopus_url" type="text" class="form-control" required>
                            <small class="form-text text-muted">This is the public URL to your Octopus instance e.g.
                                https://myinstance.octopus.app.</small>
                            <div class="invalid-feedback">
                                Please provide a valid Octopus URL.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="octopus_api" class="col-2 offset-2 col-form-label">Octopus API Key</label>
                        <div class="col-6">
                            <input id="octopus_api" name="octopus_api" type="password" class="form-control" required>
                            <small class="form-text text-muted">This is the <a
                                    href="https://octopus.com/docs/octopus-rest-api/how-to-create-an-api-key">API
                                    key</a> used to
                                interact with your Octopus
                                instance e.g. API-ABCDEFGHIJKLMNOPQRSTUVWXYZ</small>
                            <div class="invalid-feedback">
                                Please provide a valid Octopus API key.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button id="octopus_submit" name="octopus_submit" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-6">
                            GitHub Universe 2024 attendees can log into the
                            <a href="https://github-universe-2024.octopus.app">GHU instance</a> as a guest. No credentials are required.
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button id="octopus_ghu" name="octopus_ghu" type="button" class="btn btn-info">
                                <img width="32" height="32" src="https://gist.github.com/user-attachments/assets/31979277-20ca-40cf-afc9-f56294176307">
                                Log into GHU instance
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-6">
                            Alternatively, click the button below to test the Octopus Extension for GitHub Copilot with
                            the <a href="https://samples.octopus.app">samples
                                instance</a>. You do not need to provide an API key or URL to use the samples instance.
                            This is useful if you wish to test the Octopus Copilot agent without providing your own Octopus instance
                            details.
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button id="octopus_samples" name="octopus_samples" type="button" class="btn btn-info">Log into samples
                                instance
                            </button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-4 col-6">
                            <div class="spinner-border text-primary" role="status" id="octopus_loading" style="display: none">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div id="octopus_invalid_api_key_or_url" class="alert alert-danger" role="alert" style="display: none">
                                The Login Token, API key or URL you provided is invalid.
                            </div>
                            <div id="octopus_too_old" class="alert alert-danger" role="alert" style="display: none">
                                The Octopus instance is too old. Please upgrade your Octopus instance to the latest version.
                            </div>
                            <div id="octopus_response_error" class="alert alert-danger" role="alert" style="display: none">
                                There was an error logging in. Please try again later.
                            </div>
                            <div id="validation" class="alert alert-danger" role="alert" style="display: none">
                                The request to this page was not well-formed. You can not log in.
                            </div>
                            <div id="octopus_success" class="alert alert-success" role="alert" style="display: none">
                                You have logged into Octopus successfully. You may close this window and resume chatting with Copilot.
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            {%- if is_admin_user %}
            <div class="mt-5 tab-pane fade" id="codefresh" role="tabpanel" aria-labelledby="codefresh-tab">
                <form id="codefresh_form" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <label for="codefresh_token" class="col-2 offset-2 col-form-label">Codefresh Token</label>
                        <div class="col-6">
                            <input id="codefresh_token" name="codefresh_token" type="password" class="form-control" required>
                            <small class="form-text text-muted">This is the <a
                                    href="https://codefresh.io/docs/docs/integrations/codefresh-api/#authentication-instructions">Codefresh
                                    token</a> used to
                                interact with your Codefresh
                                account e.g. 00b000bac0000a0abc000d1c.eb0000000a000c00ab000d000ef000f0</small>
                            <div id="codefresh_invalid_token" class="alert alert-danger" role="alert" style="display: none">
                                The Codefresh token you provided is invalid.
                            </div>

                            <div id="codefresh_response_error" class="alert alert-danger" role="alert" style="display: none">
                                There was an error logging in. Please try again later.
                            </div>
                            <div id="codefresh_success" class="alert alert-success" role="alert" style="display: none">
                                You have logged into Codefresh successfully. You may close this window and resume chatting with Copilot.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button id="codefresh_submit" name="codefresh_submit" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-6">
                            <div class="spinner-border text-primary" role="status" id="codefresh_loading" style="display: none">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endif -%}
        </div>
    </div>
</body>
<script>
    const urlParams = new URLSearchParams(window.location.search);

    function enable_octopus_inputs() {
        octopus_submit.disabled = false
        octopus_url.disabled = false
        octopus_api.disabled = false
        octopus_samples.disabled = false
        octopus_ghu.disabled = false
    }

    function disable_octopus_inputs() {
        octopus_submit.disabled = true
        octopus_url.disabled = true
        octopus_api.disabled = true
        octopus_samples.disabled = true
        octopus_ghu.disabled = true
    }

    function validateApiKey(apiKey) {
        if (!apiKey || !apiKey.trim()) {
            return false
        }

        return /API-[A-Z0-9]+/.test(apiKey.trim())
    }

    function validateUrl(url) {
        if (!url || !url.trim()) {
            return false
        }

        try {
            new URL(url.trim());
            return true;
        } catch (_) {
            return false;
        }
    }

    {%- if is_admin_user %}
    function enable_codefresh_inputs() {
        codefresh_submit.disabled = false
        codefresh_token.disabled = false
    }

    function disable_codefresh_inputs() {
        codefresh_submit.disabled = true
        codefresh_token.disabled = true
    }

    function validateCodefreshToken(token) {
        if (!token || !token.trim()) {
            return false
        }
        // Example: 00b000bac0000a0abc000d1c.eb0000000a000c00ab000d000ef000f0
        return /[a-z0-9]{24}\.[a-z0-9]{32}/.test(token.trim())
    }
    {% endif -%}

    async function processOctopusSubmit() {
        octopus_invalid_api_key_or_url.style.display = 'none'
        octopus_too_old.style.display = 'none'
        octopus_response_error.style.display = 'none'
        octopus_api.setCustomValidity('')
        octopus_url.setCustomValidity('')

        octopus_form.classList.add('was-validated')

        let valid = true
        if (!validateApiKey(octopus_api.value)) {
            octopus_api.setCustomValidity('Invalid value')
            valid = false
        }

        if (!validateUrl(octopus_url.value)) {
            octopus_url.setCustomValidity('Invalid value')
            valid = false
        }

        if (!valid) {
            octopus_invalid_api_key_or_url.style.display = 'block'
            return
        }

        if (!octopus_form.checkValidity()) {
            return
        }

        octopus_login(octopus_url.value, octopus_api.value)
    }

    async function octopus_login(urlValue, apiValue) {
        disable_octopus_inputs()
        octopus_response_error.style.display = 'none'
        octopus_too_old.style.display = 'none'
        octopus_invalid_api_key_or_url.style.display = 'none'
        octopus_loading.style.display = 'block'

        try {
            const response = await fetch("/api/octopus_login_submit",
                {
                    method: "POST",
                    body: JSON.stringify({ url: urlValue, api: apiValue }),
                    credentials: "same-origin",
                }
            );

            if (!response.ok) {
                if (response.status === 400) {
                    const response_body = await response.json()
                    if (response_body.error === "octopus_too_old") {
                        octopus_too_old.style.display = 'block'
                    } else if (response_body.error === "octopus_key_invalid") {
                        octopus_invalid_api_key_or_url.style.display = 'block'
                    } else {
                        octopus_response_error.style.display = 'block'
                    }
                } else {
                    octopus_response_error.style.display = 'block'
                }

                enable_octopus_inputs()
            } else {
                octopus_login_success()
            }
        } catch {
            octopus_response_error.style.display = 'block'
            enable_octopus_inputs()
        } finally {
            octopus_loading.style.display = 'none'
        }
    }

    function octopus_login_success() {
        const redirect = urlParams.get('redirect')

        if (redirect) {
            window.location.href = "/api/" + encodeURIComponent(redirect) + "?redirected=true"
        } else {
            octopus_success.style.display = 'block'
        }
    }

    {%- if is_admin_user %}
    async function processCodefreshSubmit() {
        codefresh_response_error.style.display = 'none'
        codefresh_token.setCustomValidity('')

        codefresh_form.classList.add('was-validated')

        let valid = true
        if (!validateCodefreshToken(codefresh_token.value)) {
            codefresh_token.setCustomValidity('Invalid value')
            valid = false
        }

        if (!valid) {
            codefresh_invalid_token.style.display = 'block'
            return
        }

        if (!codefresh_form.checkValidity()) {
            return
        }

        codefresh_login(codefresh_token.value)
    }

    async function codefresh_login(codefreshTokenValue) {
        disable_codefresh_inputs()
        codefresh_response_error.style.display = 'none'
        codefresh_invalid_token.style.display = 'none'
        codefresh_loading.style.display = 'block'

        try {
            const response = await fetch("/api/codefresh_login_submit",
                {
                    method: "POST",
                    body: JSON.stringify({ cf_token: codefreshTokenValue }),
                    credentials: "same-origin",
                }
            );

            if (!response.ok) {
                if (response.status === 400) {
                    const response_body = await response.json()
                    if (response_body.error === "codefresh_token_invalid") {
                        codefresh_invalid_token.style.display = 'block'
                    } else {
                        codefresh_response_error.style.display = 'block'
                    }
                } else {
                    codefresh_response_error.style.display = 'block'
                }

                enable_codefresh_inputs()
            } else {
                codefresh_login_success()
            }
        } catch {
            codefresh_response_error.style.display = 'block'
            enable_codefresh_inputs()
        } finally {
            codefresh_loading.style.display = 'none'
        }
    }

    function codefresh_login_success() {
        const redirect = urlParams.get('redirect')

        if (redirect) {
            window.location.href = "/api/" + encodeURIComponent(redirect) + "?redirected=true"
        } else {
            codefresh_success.style.display = 'block'
        }
    }
    codefresh_submit.onclick = processCodefreshSubmit
    {% endif -%}

    octopus_submit.onclick = processOctopusSubmit
    octopus_samples.onclick = () => octopus_login("https://samples.octopus.app", "API-GUEST")
    octopus_ghu.onclick = () => octopus_login("https://github-universe-2024.octopus.app", "API-GUEST")

</script>

</html>